*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


testtestest
testtestest

testtestest

testtestest

testtestest

testtestest

testtestest

testtestest



code for dots (copy/paste, then delete after implementation):

dot1:
width: 100px;
height:100px;
background: rgb(63,94,251);
background: linear-gradient(60deg, rgba(63,94,251,1) 36%, rgba(70,153,252,1) 85%);
border-radius: 75px;

dot2:
width: 100px;
height:100px;
background: rgb(255,111,0);
background: linear-gradient(60deg, rgba(255,111,0,0.6418942577030813) 14%, rgba(255,175,0,1) 79%);
border-radius: 75px;

Dot3:
background: rgb(198,63,251);
background: linear-gradient(60deg, rgba(198,63,251,1) 36%, rgba(252,70,251,1) 85%);
border-radius: 75px;


body{
    max-width: 100vw;
    max-height: 100vh;
    display: flex; 
}
